data
.vscode
*.txt
*.pkl
*.ipynb
*EXP150*
EXP150_NatImages_NeuroPixels
Sessions_NaturalEnsemble_136
*.csv
in
out
*.png
venv
src/seg-model-example
src/segmentation_old
src/image_outpainting
src/Session_exclusion_criteria
src/vseg
src/__*
*.html
*.gif
src/run*.py
__pycache__/*
*/__pycache__/*
*.pyc
*.jpg
*.pdf

